<div class="container" ng-controller="LoginCtrl">

    <div class="panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <a ui-sref="login" ng-class="{active: isLogin}" id="login-form-link">Einloggen</a>
                </div>
                <div class="col-xs-6">
                    <a ui-sref="register" ng-class="{active: !isLogin}" id="register-form-link">Registrieren</a>
                </div>
            </div>
            <hr>
        </div>

        <form role="form" class="panel-body" ng-if="isLogin">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" class="form-control" id="email" ng-model="loginUser.email" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="loginUser.password" placeholder="Passwort" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="form-control btn btn-login" ng-click="login(loginUser)">Einloggen</button>
                    </div>
                </div>
            </div>
        </form>

        <form role="form" class="panel-body" ng-if="!isLogin">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" class="form-control" id="email" ng-model="registerUser.username" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="registerUser.password" placeholder="Passwort" required>
            </div>
            <div class="form-group">
                <label for="prename">Vorname</label>
                <input type="text" class="form-control" id="prename" ng-model="registerUser.prename" placeholder="Vorname" required>
            </div>
            <div class="form-group">
                <label for="surname">Nachname</label>
                <input type="text" class="form-control" id="surname" ng-model="registerUser.surname" placeholder="Nachname" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="form-control btn btn-register" ng-click="register()">Registrieren</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
