<div class="container" ng-controller="ProfileCtrl">
    <div class="UserProfile">
    <div class="col-lg-12 col-sm-12">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" ng-if="avatar64.base64 != ''" data-ng-src="data:image/jpg;base64,{{avatar64.base64}}">
                <img class="card-bkimg" alt="" ng-if="avatar64.base64 == ''" ng-src="{{avatarDefault}}">
            </div>
            <div class="useravatar">
                <img alt="" ng-if="avatar64.base64 != ''" data-ng-src="data:image/jpg;base64,{{avatar64.base64}}">
                <img alt="" ng-if="avatar64.base64 == ''" ng-src="{{avatarDefault}}">
                <div class="upload">
                    <i class="glyphicon glyphicon-edit"></i>
                    <input on-after-validate="changeProfilePicture" type="file" ng-model="avatar64" base-sixty-four-input name="button" maxsize="1000" accept="image/jpg">
                </div>
            </div>
            <div class="card-info"> <span class="card-title">UserName</span>

            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="address" class="btn btn-active" href="#tab1" data-toggle="tab" ng-click="changeTab('address')" ng-class="{active: actualTab == 'address'}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <p class="tabTitle">Adresse</p>
                </button>
            </div>
            <p class="btn-group" role="group">
                <button type="button" id="privateLessons" class="btn btn-default" href="#tab2" data-toggle="tab" ng-click="changeTab('privateLessons')" ng-class="{active: actualTab == 'privateLessons'}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <p class="tabTitle">Nachhilfe</p>
                </button>
            </div>
        </div>

        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <h3>Meine Adresse</h3>

                    <p>Adresse</p>
                    <p>Adresse</p>
                </div><!-- end tab1 -->
                <div class="tab-pane fade in" id="tab2">
                    <h3>Meine Nachhilfe</h3> <!--TODO Nachhilfe mit Dropdown und sichtbar (oder nicht)-->
                    <ul>
                        <li>Mathematik</li>
                        <li>Deutsch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

